<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Lånesøknad</h1>
    <form action="#" th:action="@{/sendSoknad}" th:object="${laaneSoeknad}" method="post">
    	<p>Lånebeløp: <input type="text" th:field="*{laanebelop}" /></p>
        <p>Behov: <input type="text" th:field="*{behov}" /></p>
        <p><input type="submit" value="Send inn" /></p>
    </form>
</body>
</html>
